<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" href="../voicetab/voicetab.page.scss">

<ion-content>
  <div class="container">
    <div class="row">
    </div>
    <div class="row">
        <div class="col-sm-2">
            <!-- Transforma a imagem em um circulo e a printa -->
            <div  class="ratio img-responsive img-circle margin" style="background-image: url(https://cdn.discordapp.com/attachments/273593744236871682/777998065482596382/avataaars.png);">
            </div>
            
            <p>
<hr>
            </p>
            <button class="primary-button" type="button"> <!-- Imagem botão, leva a um link -->
                <img src="https://cdn.discordapp.com/attachments/273593744236871682/777995600188801064/phone-icon-vector.png" alt="Encerrar Chamada" />
              
              </button>
        </div>
        <div class="col-sm-10 img-fit">
             <img class="ratio-inside img-fit" src="https://cdn.discordapp.com/attachments/273593744236871682/777998053541019658/avataaars1.png">
             
        </div>
        
    </div>
</div>

</ion-content>
