<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light" style="overflow-y: auto;">
    <div class="container">
            </div> 

            <div class="bs-calltoaction bs-calltoaction-primary">
                <div class="row">
                    <div class="col-md-9 cta-contents">
                        <h1 class="cta-title" style="">Realizar uma chamada de Vídeo</h1>
                        <div class="cta-desc">
                            <p>Inicie uma conversa de audio e vídeo com um de seus aparelhos cadastrados</p>
                        </div>
                    </div>
                    <div class="col-md-3 cta-button">
                        <a (click)="goTo('tab6')" class="btn btn-lg btn-block btn-primary">Realizar Chamada</a>
                    </div>
                 </div>
            </div>

            <div class="bs-calltoaction bs-calltoaction-info">
                <div class="row">
                    <div class="col-md-9 cta-contents">
                        <h1 class="cta-title">Aparelhos</h1>
                        <div class="cta-desc">
                            <p>Lista de aparelhos cadastrados</p>
                        </div>
                    </div>
                    <div class="col-md-3 cta-button">
                        <a (click)="goTo('tab6')" class="btn btn-lg btn-block btn-info">Checar Aparelhos</a>
                    </div>
                 </div>
            </div>

            <div class="bs-calltoaction bs-calltoaction-success">
                <div class="row">
                    <div class="col-md-9 cta-contents">
                        <h1 class="cta-title">Localização</h1>
                        <div class="cta-desc">
                            <p>Localize em tempo real um de seus aparelhos cadastrados</p>
                        </div>
                    </div>
                    <div class="col-md-3 cta-button">
                        <a (click)="goTo('tab4')" class="btn btn-lg btn-block btn-success">Localização GPS</a>
                    </div>
                 </div>
            </div>

            <div class="bs-calltoaction bs-calltoaction-warning">
                <div class="row">
                    <div class="col-md-9 cta-contents">
                        <h1 class="cta-title">Sair</h1>
                        <div class="cta-desc">
                            <p>Encerra sua sessão atual</p>
                        </div>
                    </div>
                    <div class="col-md-3 cta-button">
                        <a (click)="logout()" class="btn btn-lg btn-block btn-warning">Sair</a>
                    </div>
                 </div>
            </div>


</ion-content>
