<ion-header>
  <ion-toolbar color="tcc">
    <ion-title style="margin-top:0.5vh;margin-bottom: 0.5vh;"><ion-grid size="5">
        <ion-row>
          <ion-col push="0.5">Device Name</ion-col>
          <ion-col push="1.2">Owner Name</ion-col>
          <ion-col push="1.6">Video Call</ion-col>
          <ion-col push="1.75">Call</ion-col>
          <ion-col push="1.5">Configuration</ion-col>
          <ion-col push="1.45">Connection</ion-col>
          <ion-col push="1.3"><ion-icon name="add-circle-outline" style="zoom:1.5;" (click)="presentAlert()"></ion-icon></ion-col>
      </ion-row>
    </ion-grid></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid size="5">
    <ion-list *ngFor="let device of devices" #teste>
        <ion-item lines="full">
          <ion-col >
            <ion-icon name="hardware-chip-outline"></ion-icon>
          </ion-col>
          <ion-col pull="0.9">
            <ion-label>{{device.name}}</ion-label>
          </ion-col>
          <ion-col pull="0.5">
            <ion-label>{{device.ownername}}</ion-label>
          </ion-col>
          <ion-col>
            <ion-button color="tcc" (click)="goTo('tab5')">
              <ion-icon name="videocam-outline" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button color="tcc">
              <ion-icon name="call-outline" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col push="0">
            <ion-button color="tcc" (click)="presentActionSheet(device.name)">
              <ion-icon name="cog-outline" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col>
            <div #teste id="{{device.id}}"> 
            <ion-icon  name="ellipse" color="danger" ></ion-icon></div>
          </ion-col>
        </ion-item>
  </ion-list>
</ion-grid>

  <!--<ngx-datatable [rows]="arrayteste" [columns]="columns"></ngx-datatable>-->
</ion-content>
